/gradle.properties
/buildSrc/gradle.properties
/.idea
/.gradle
/local.properties
/build
/app/build
*.apk
*.iml

# Eclipse project files
.classpath
.project
/.settings

# OSX files
.DS_Store
.DS_Store?

# Windows thumbnail db
/buildSrc/local.properties
ehthumbs.db
Thumbs.db

# OS-specific files
._*
.Spotlight-V100
.Trashes

# Log Files
*.log

/buildSrc/.gradle

